div {
    padding: auto;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}
#container{
    width: 600px; 
    display: block;
}
img{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:510px;
    height:329px;
    position:relative;
}

.chevron::before {
border-style: solid;
border-width: 0.25em 0.25em 0 0;
content: '';
display: inline-block;
height: 0.45em;
left: 0.15em;
position: absolute;
top: 0.15em;
transform: rotate(-45deg);
vertical-align: top;
width: 0.45em;
}

.chevron.right:before {
left: 0;
transform: rotate(45deg);
}

.chevron.bottom:before {
top: 0;
transform: rotate(135deg);
}

.chevron.left:before {
left: 0.25em;
transform: rotate(-135deg);
}

#left{
    position: absolute;    
    float:left;
    top:10rem;
    left:1rem;
}

#right{
    position: absolute;
    float:right;
    top:10rem;
    right:2rem;
   
}

h1{
    text-align:center;
}
p{
    text-align:center;
}